[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
NoDisplay=true
Exec=xfce4-terminal -x /home/clement/.miniconda3/bin/ipython -i /home/clement/.scripts/xarray-ipython.py -- -files %F
Name=Xarray
Icon=python
